<!-- styles -->
<style>
  .search-btn {
    width: 10rem;
    background-color: orangered;
    color: #fff;
    border-radius: 30px;
    padding: 0 1rem;
  }

  .search-btn:hover {
    background-color: #ff6347; /* lighter shade of orangered */
  }

  .search-btn i {
    margin-right: 0.5rem;
  }

  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 1rem; /* adjust padding for icon */
    font-size: 0.8rem;
    text-align: center;
  }

  /* Avatar styles */
  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
  }
</style>

<!-- navbar -->
<nav class="navbar navbar-expand-md bg-body-Light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listing"><i class="fa-solid fa-location-arrow"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listing">Explore</a>
<<<<<<< HEAD
      </div>

      <!-- Search -->
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search" action="/search" method="GET">
          <input class="form-control me-2 search-inp" type="search" id="searchInput" name="q" placeholder="Search destinations"
            aria-label="Search by Title or Location">
          <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <% if (!currUser) { %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } else { %>
          <!-- User dropdown -->
          <div class="dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" id="userDropdown"
              data-bs-toggle="dropdown" aria-expanded="false">
              <img src="<%= currUser.avatar || 'https://via.placeholder.com/150' %>" alt="User Avatar" class="avatar img-fluid rounded-circle me-2">
              <%= currUser.name %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item" href="/profile">Profile</a></li>
              <li><a class="dropdown-item" href="/bookings/history">Booking History</a></li>

              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Sign out</a></li>
            </ul>
          </div>
=======
    </div>

    <!-- Search -->
      <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search" action="/search" method="GET">
            <input class="form-control me-2 search-inp" type="search" id="searchInput" name="q" placeholder="Search destinations"
              aria-label="Search by Title or Location">
            <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
      </div>
      


      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listing/new">Wanderer'sHaven your home</a>
        <% if(!currUser){ %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } else { %>
          <a class="nav-link" href="/logout"><b>Log out</b></a>
>>>>>>> 764f7d8b7aaedc0eba6705d8abe0256dea645f64
        <% } %>
      </div>

    </div>
  </div>
</nav>
<<<<<<< HEAD

<!-- Bootstrap JavaScript (ensure you have included it in your project) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
  integrity="sha384-YuZw5yXb9uPE9zfln76p4v0WcCGub9vE3Qqoa2We1b6k/IwI5D0fIR4nb6N9vBOy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
  integrity="sha384-vA2qkSfMV0mZX8Ut8egW/D35pzs3jsLTnVjDrQhi3cuQvr3TM4oOVgldcFqTcS0v" crossorigin="anonymous"></script>
=======
>>>>>>> 764f7d8b7aaedc0eba6705d8abe0256dea645f64
